/* System Fonts as used by Github */
body {
    margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}

/*Reset image style*/
img {
  display: block;
  
}

div{
    border: 1px solid gray;
    margin: 1em;
    padding: 0.8em;
    max-width: 500px;
}
